<html>
    <head>
        <link href = "stylesheets/chatstyle.css" rel="stylesheet"/>

        
        
    </head>
    <body background="images/chatbackground.jpg">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/chatjquery.js"></script>
        
        
        <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
                <input disabled value = "<%-user.Username%>" id="nickbox"></input>
            </div>
            <div class="title">Chat</div>
        </div>
        <div class="available-users">
            <div class="title">Available Users</div>
        </div>

        <div class = "messages-container">
            <ul class="messages"></ul>
        </div>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" id = "message_input" placeholder="Type your message here..." />
            </div>
            
            <div class="send_message" id="send-message-button">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
            <div>
                <form ref="uploadform" id = "uploadform"  enctype="multipart/form-data">
                    <input type="file" name="sampleFile", id="sampleFile"/>
                    <input type="submit" id ='attachFile' ,name='attachFile' value = "Upload!"/>         
                </form>
                <script> src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                <script>
                    
                    $('#sampleFile').change(function(e){
                        if($(this).val()=='')
                        {
                            return;
                        }
                        var file=e.target.files[0];
                        var formData=new FormData();
                        var emisor = $('#nickbox').val();
                        var destinatario = localStorage.getItem("destinatario");
                        formData.append('myfile',file);
                        formData.append('emisor', emisor);
                        formData.append('destinatario', destinatario);
                        $.ajax({
                            type:'post',
                            url:'http://localhost:8000/UploadFile',
                            data:formData,
                            processData:false,
                            contentType:false,
                            success:function()
                            {

                            },
                            crossDomain:true

                        })
                    });
                </script>    
            </div>
        </div>
        <div class="message_template">
        <li class="message">
            <div class="avatar">
            </div>
            <div class="text_wrapper">
            <div class="text">
            </div>
            </div>
                    </li>
                </div>    
            </body>
</html>

