<html>

<head>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

</html>
<script>$(function () {
        $('.header').load('public/bars/userNavbar.html');
    });</script>
<div class="header"></div>

<body class="userBody">
    <img class="def1" id='userimg' name=userimg src='<%=user.Imagen%>' onerror="if (this.src != '/images/noUser.jpg') this.src = '/images/noUser.jpg';">
    <br>
    <label class="user">
        <%=user.Username%>
    </label>
    <br>
    <br>
    <div>
        <div class="display">
            <ul class="display">
                <%for(var i = 0; i < data.length; i++){%>
                    <li class="display">
                        <img src='<%= data[i].Imagen %>' />
                        <h3 class="display">
                            <%=data[i].Username%>
                        </h3>
                       
                    </li>
                    <% } %>
            </ul>


        </div>
       
   

</body>