<head>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<link rel='bars' href='public/bars/userNavbar.html'>
<script>$(function () {
        $('.header').load('public/bars/userNavbar.html');
    });</script>
<div class="header"></div>
<!-- Aqui se carga la barra!-->

<body class="createBody">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    </head>
    <form class="container" method="post" action="/createUser">
        <br><br><legend class="col-md-8">
            <p>
                <strong>Ingreso de datos</strong>
            </p>
        </legend>




        <div class="col-md-8">

            <label class="col-md-8 control-label" for="key">
                <strong>Seleccione una imagen</strong>
            </label>
            <div>
                    <link  rel='stylesheet' href='public/stylesheets/style.css' />   
                    <input class="btn"  type="file" id="fileInput" name=fileInput required=""/>
            </div>
            <div>
                <link  rel='stylesheet' href='public/stylesheets/style.css' />   
                <img class="def" id='userimg' name=userimg src="/images/noUser.jpg" onerror="if (this.src != '/images/noUser.jpg') this.src = '/images/noUser.jpg';">
               
            </div>

            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#userimg').attr('src', e.target.result)
                                .width(150)
                                .height(200);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#fileInput").change(function () {
                    readURL(this);
                });
            </script>
        </div>



        <div class="form-group">
            <label class="col-md-4 control-label" for="key">
                <strong>Nombre</strong>
            </label>
            <div class="col-md-8">
                <input id="nombre" name="nombre" type="text" placeholder="" class="form-control input-md" autocomplete=off required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="key">
                <strong>Apellido</strong>
            </label>
            <div class="col-md-8">
                <input id="apellido" name="apellido" type="text" placeholder="" class="form-control input-md" autocomplete=off required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="key">
                <strong>Usuario</strong>
            </label>
            <div class="col-md-8">
                <input id="usuario" name="usuario" type="text" placeholder="" class="form-control input-md" autocomplete=off required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="key">
                <strong>Correo</strong>
            </label>
            <div class="col-md-8">
                <input id="correo" name="correo" type="text" placeholder="" class="form-control input-md" autocomplete=off required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="key">
                <strong>Contraseña</strong>
            </label>
            <div class="col-md-8">
                <input id="contraseña" name="contraseña" type="password" placeholder="" class="form-control input-md" autocomplete=off required="">
            </div>
        </div>
        <div class="form-group">
                <div class="col-md-8">
                    <input class="btn" type="submit" value="Hecho">
                </div>
            </div>

    </form>

</body>