<head>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <link rel='bars' href='public/bars/myNavbar.html'>
   <div>
    
   </div>
    <script>$(function () {
            $('.header').load('public/bars/myNavbar.html');
        
        });</script>
    <div class="header"></div>
    <!-- Aqui se carga la barra!-->
    <div class="bigtitle">
        Kero
    </div>

</body>