body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  border-right: 1px solid 	#F08080;
}
lii {
  float: left;
  border-right: 1px solid 	#F08080;
}
lii a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: 	#FF69B4;
}
li:last-child {
  border-right: none;
}
lii a:hover {
  background-color: 	#FF69B4;
}
lii:last-child {
  border-right: none;
}
body {
  background-color:	#FFFF00  ;
  background-image: url('/images/feather.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
}

div.bigtitle
{
  font-size: 200px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(7, 6, 6);
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}
h3.create
{
  text-align: center;
  background:  gray;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  border-radius: 20%;
  height: 30px;
  width: 200px;
  transform: translate(-130%, 0%);
 
  
}
body.createBody
{
  background-color:	rgb(77, 215, 236)  ;
  background-image: url('/images/mt.png');
  background-size: 800px 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom  left; /*Positioning*/

}
body.loginBody
{
  background-color:	rgb(236, 236, 235)  ;
  background-image: url('/images/feather.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
body.userBody
{
  background-color:	rgb(236, 236, 235)  ;
  background-image: url('/images/city.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
}
form.create { 
  position:fixed;
  top:50%;
  left:50%;
  width:250px;
  }

img.def
{
  border-radius: 40%;
  display: block;
  position: relative;
  height: 250px;
  width: 250px;

  border:20px;
  border-style: solid;
  border-color: rgb(7, 7, 6);

  
}
img.def1
{
  border-radius: 40%;
  position: relative;;
  height: 250px;
  width: 250px;
  display:inline-block;
  margin-right:10px;
  border-style: solid;
  border: 5 rgb(15, 15, 15);
  transform: translate(0%, 30%);

  
}
 img.def1:hover {
  cursor: pointer;
}
input.btn12
{
  display: inline-block;
  width: 150px;
  padding: 60px 0 0 0;
  height: 30px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/images/edit.png') center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 30px 30px;
  transform: translate(0%, 30%);
}
input.btn12:hover
{
background-color: #eb81d0;
}
label.user
{
  font-size: 50px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(7, 6, 6);
  border-radius: 30%;
  padding: 10px;
  position: relative;
  display:inline-block;
  margin-right:10px;
  border-style: solid;
  border: 5 rgb(15, 15, 15);
  transform: translate(35%, 100%);
}
div.display
{
  margin: 20px;
 
 
}

 
ul.display {
  list-style-type: none;
  width: 200px;
  overflow: auto;
  height: 600px;
  transform: translate(0%, 10%);
  border-radius: 5%
  
  
  

}
 
h3.display {
  font: bold 20px/2 Helvetica, Verdana, sans-serif ;
  color: rgb(252, 250, 250);
  right: 50%;
  left: 10%;
  
}
 
li.display img {
  border-radius: 40%;
  height: 100px;
  width: 100px;
  float: left;
  margin: 0 40px 0 0;
  
}
li.display img:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  cursor: pointer;
}
 
li.display p {
  font: 200 12px/3 Georgia, Times New Roman, serif white;
  
}
 
li.display {
  padding: 10px;
  overflow: auto;
}
div.chat
{
  padding-left : 20px; float:left;
}
 

















label.user:hover
{
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(245, 21, 208);
}
/* style 2 */
.inputfile-2 {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-2 + label {
  
  color: #ff29db;
  border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #f3f716;
}

input.btn
{
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(231, 97, 153); /* dark blue */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  Transition: background-color 0.1s ease-out;
  -webkit-filter: url("#filter");
  filter: url("#filter");

}

input.btn:hover {
  background-color: rgb(231, 255, 14); /* green */
}
input.btn1
{
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(231, 97, 153); /* dark blue */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  Transition: background-color 0.1s ease-out;
  -webkit-filter: url("#filter");
  filter: url("#filter");
  border: 1px rgb(231, 97, 153);
  /*transform: translate(180%, 30%);*/
}
  

input.btn1:hover {
  background-color: rgb(231, 255, 14); /* green */
}